* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.newsletter-container {
  display: flex;
  justify-content: center;
}

.title-1 {
  margin-top: 3rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0.1rem 0 0.5rem 0;
}

.title-2 {
  margin-bottom: 3rem;
  font-weight: normal;
}

.superior-background {
  border-style: solid;
  border-width: 0 100vw 6vh 0;
  border-color: transparent #707070 transparent transparent;
}

.header {
  background-color: #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0 1rem;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header-buttons button {
  width: 160px;
}

button {
  text-align: center;
  font: normal normal normal 14px/16px "Roboto", sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  height: 40px;
  margin: 0.5rem;
  transition: 0.1s;
}

button:hover {
  background: #707070 0% 0% no-repeat padding-box;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 12px #00000029;
}

.button-action {
  width: 260px;
  height: 39px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 3rem auto 0;
}

.title-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.message-title {
  color: #888888;
  font-weight: normal;
  font-size: 20px;
}

.message-content {
  color: #888888;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#name,
#email,
#cpf,
#friend-name,
#friend-email {
  width: 340px;
  height: 30px;
  border: 1px solid #707070;
  margin-bottom: 20px;
  padding: 0;
}

#male,
#female {
  width: 14px;
  height: 14px;
  border: 1px solid #707070;
}

#female {
  margin-left: 2rem;
}

label {
  font-size: 12px;
  color: #888888;
  margin-bottom: 7px;
}

#subscribe-me {
  margin: 1rem 0 0 0;
  width: 340px;
}

.section {
  display: flex;
  align-items: center;
}

.divider-line {
  width: 46%;
  height: 0.13rem;
  background-color: #888888;
}

.divider-title {
  font-weight: bold;
  color: #888888;
  font-size: 18px;
  display: flex;
  text-align: center;
  min-width: max-content;
  margin: 1rem 1rem;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.product-image {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 150px;
  border: 1px solid #707070;
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 14px;
  color: #888888;
  margin-bottom: 1rem;
}

.product-description {
  font-size: 12px;
  color: #888888;
  margin: 0 0 1rem 0;
}

.price-from,
.price-parceled {
  font-size: 12px;
  color: #888888;
  margin-bottom: 0.2rem;
}

.price-to {
  font-size: 16px;
  color: #888888;
  margin-bottom: 0.2rem;
}

.buy-button {
  width: 200px;
  height: 30px;
  font-weight: bold;
  margin: 0.8rem 0;
}

.fields {
  display: flex;
  justify-content: center;
}

#share-with-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-message {
  font-size: 14px;
  color: #888888;
  margin-bottom: 2rem;
  text-align: center;
}

.inferior-background {
  border-style: solid;
  border-width: 9vw 100vw 0 0;
  border-color: transparent #707070 transparent transparent;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
  background-color: #707070;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 800px) {
  .newsletter-container {
    flex-direction: column;
    align-items: center;
  }

  .title-content {
    width: 100%;
    padding: 0.5rem;
  }

  .fields {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .header {
    align-items: flex-start;
  }

  .product-container {
    width: 100%;
    flex-direction: row;
  }

  .product-image {
    width: 169px;
    height: 129px;
  }

  .product-info {
    margin-left: 1rem;
  }

  .product-description {
    display: none;
  }
}
