body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.title-1 {
  margin-top: 3rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0.1rem 0 0.5rem 0;
}

.title-2 {
  margin-bottom: 3rem;
  font-weight: normal;
}

.superior-background {
  width: 0;
  height: 14rem;
  border-style: solid;
  position: fixed;
  z-index: -1;
  border-width: 0 100vw 9vh 0;
  border-color: transparent #707070 transparent transparent;
}

.inferior-background {
  width: 0;
  height: 12vw;
  border-style: solid;
  bottom: 0;
  position: fixed;
  z-index: -1;
  border-width: 8vw 100vw 0 0;
  border-color: transparent #707070 transparent transparent;
}

.header {
  /* top: 0;
  left: 5%;
  right: 5%; */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  text-align: center;
  font: normal normal normal 14px/16px "Roboto", sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 160px;
  height: 40px;
  margin: 0.5rem;
}

.content {
  margin: 0 20rem 0 20rem;
  display: flex;
}

.content-title {
  flex: 2;
}

.form {
  flex: 1;
  margin-bottom: 300px;
}

.footer {
  position: absolute;
  margin: auto;
  bottom: 0;
  color: #fff;
}
