body {
  margin: 0;
}

.container {
}

.superior-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 15vh 0;
  border-color: transparent #707070 transparent transparent;
}

.inferior-background {
  bottom: 0;
  width: 0;
  height: 0;
  position: fixed;
  border-style: solid;
  border-width: 0 0 15vh 100vw;
  border-color: transparent transparent #707070 transparent;
}
